{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
            <div class="title-container">
                <h1>How Many: MTG Calculator</h1>
                <p>Build decks with a more consistent mana base</p>
            </div>
            <div class="form-container">
                <form id="decklist-form" method="post">
                    {% csrf_token %}
                    <label for="decklist">Enter your decklist:</label>
                    <textarea id="decklist" tabindex="0" onfocus="closeSidebar()" name="decklist">{{ preloaded_decklist }}</textarea>
                    <button id="submit-button" type="submit">How many lands do I need in my deck?</button>
                </form>
            </div>
            <div class="explanation-container" id="explanation-container">
                {% if result %}
                <div class="analysis" id="results">
                    <h2>Decklist Analysis</h2>
                    <p>Your deck has <u><b>{{ result.companion_count }}</b></u> companion and <u><b>{{ result.card_count }}</b></u> cards, of which <u><b>{{ result.non_land_count }}</b></u> are non-lands with <u><b>{{ result.non_land_cmcs_count }}</b></u> total CMC, <u><b>{{ result.cheap_card_draw_count }}</b></u> cheap card draw, <u><b>{{ result.cheap_mana_ramp_count }}</b></u> cheap mana ramp, <u><b>{{ result.non_mythic_land_spell_mdfc_count }}</b></u> non-mythic land/spell MDFC, <u><b>{{ result.mythic_land_spell_mdfc_count }}</b></u> mythic land/spell MDFC and <u><b>{{ result.average_cmc }}</b></u> average CMC.</p>
                    <ul>
                        {% if result.companion %}
                        <li>This is your companion: <b>{{ result.companion }}</b>.</li>
                        {% endif %}
                        {% if result.cheap_card_draw_list %}
                        <li>These are your cheap card draw: <b>{{ result.cheap_card_draw_list }}</b>.</li>
                        {% endif %}
                        {% if result.cheap_mana_ramp_list %}
                        <li>These are your cheap mana ramp: <b>{{ result.cheap_mana_ramp_list }}</b>.</li>
                        {% endif %}
                        {% if result.non_mythic_land_spell_mdfc_list %}
                        <li>These are your non-mythic land/spell MDFC: <b>{{ result.non_mythic_land_spell_mdfc_list }}</b>.</li>
                        {% endif %}
                        {% if result.mythic_land_spell_mdfc_list %}
                        <li>These are your mythic land/spell MDFC: <b>{{ result.mythic_land_spell_mdfc_list }}</b>.</li>
                        {% endif %}
                    </ul>
                    {% if result.cheap_card_scry_list %}
                    {% if result.card_count == 60 %}
                    <p>You also has <u><b>{{ result.cheap_card_scry_count }}</b></u> cheap card scry that, while not an actual card draw spell, can still help you find lands sometimes, which means that it's fine to round down the land count if you have 4 or more.</p>
                    <ul>
                        <li>These are your cheap card scry: <b>{{ result.cheap_card_scry_list }}</b>.</li>
                    </ul>
                    {% endif %}
                    {% endif %}
                </div>
                <p id="recommended-lands"><strong>The recommended number of lands for your deck is <u>{{ result.recommended_number_of_lands }}</u></strong></p>
                {% elif error_message %}
                <p id="error-message"><strong>{{ error_message }}</strong></p>
                {% endif %}
                <div class="about-formula-container">
                    <h2>About The Formula</h2>
                    <p><b>It is important to emphasize that the formula is not perfect and may present discrepancies</b> with the actual number of lands needed. These discrepancies have several logical reasons, such as:</p>
                    <ul>
                        <li>The actual mana value does not always fully reflect a card's mana appetite.</li>
                        <li>There are large requirements for colored mana, which can increase the required land count.</li>
                        <li>The mana base can include multiple utility lands, all contributing to the total land count.</li>
                        <li>Etc.</li>
                    </ul>
                    <p>However, even with its limitations, <b>the formula is an excellent starting reference for new deck builders</b>. For a more detailed explanation of the formula, we suggest you consult <b>the solid research and analysis in the article</b> <a href="https://www.channelfireball.com/article/how-many-lands-do-you-need-in-your-deck-an-updated-analysis/cd1c1a24-d439-4a8e-b369-b936edb0b38a/" target="_blank">"How Many Lands Do You Need In Your Deck?"</a>, by <a href="https://twitter.com/karsten_frank" target="_blank">Frank Karsten</a>, a member of the Magic: The Gathering Hall of Fame, competitor in almost 80 Pro Tours and PhD in game theory, mathematics and probability theory.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
