{% load static %}
<header>
    <div class="header" id="header">
        <button onclick="toggleSidebar()" class="btn-icon-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="logo-header">
            <a href="{% url 'index' %}">
                <img class= img-logo-header src="{% static 'lands/assets/howmanymtg-logo-white.png' %}" alt="How Many: MTG Calculator White Logo">
            </a>
        </div>
        <div class="navigation-header" id="navigation-header">
            <button onclick="toggleSidebar()" class="btn-icon-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'privacy' %}">Privacy policy</a>
            <a href="https://www.paypal.com/donate/?hosted_button_id=T7MU9U5PMBLHJ" target="_blank">Support our project</a>
        </div>
    </div>
</header>