@font-face{
  font-family: 'lexend';
  src: url('/static/lands/assets/fonts/Lexend-Regular.ttf') format('truetype');
}

:root{
  --primary-color: #4CAF50;
  --secundary-color: #ffffff;
  --fill-color: #f2f2f2;
  --error-color: #b10000;
  --title-color: #111111;
  --subtitle-color: #555555;
  --text-body-color: #333333;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--secundary-color);
  color: var(--text-body-color);
}

.img-logo-header{
  width: 2.5rem;
}

.header, .navigation-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header{
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 0 10%;
  height: 3.5rem;
}

.navigation-header{
  gap: 3rem;
  z-index: 2;
}

.navigation-header a{
  text-decoration: none;
  color: var(--secundary-color);
  font-weight: bold;
}

.navigation-header a:hover{
  text-decoration: underline;
}

.content{
  text-align: center;
  height: 100vh;
  transition: 1s;
}

.btn-icon-header{
  display: none;
  background-color: transparent;
  border: none;
  color: var(--secundary-color);
  cursor: pointer;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title h1{
  font-weight: bold;
  color: var(--title-color);
}

.title p{
  padding-top: 1rem;
  color: var(--subtitle-color);
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 2rem;
}

.form-container textarea{
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--fill-color);
  text-align: justify;
  width: 100%;
  height: 30rem;
  padding: 1rem;
  border:none;
  box-sizing: border-box;
  border-radius: 0.5rem;
  resize: none;
  touch-action: manipulation;
}

.form-container input[type="submit"]{
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.form-container input[type="submit"]:hover{
  color: var(--subtitle-color);
  background-color: var(--fill-color);
}

.explanation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48rem;
  margin: 0 auto;
}

.analysis{
  text-align: justify;
  padding-bottom: 1rem;
}

.analysis p{
  padding-bottom: 1rem;
}

.analysis ul{
  margin-left: 3rem;
  padding-bottom: 1rem;
}

.recommended-lands{
  text-align: center;
}

.recommended-lands p{
  padding-bottom: 2rem;
}

.errors{
  text-align: center;
}

.errors p{
  color: var(--error-color);
  padding-bottom: 2rem;
}

.explanation{
  text-align: justify;
  padding-bottom: 2rem;
}

.explanation p{
  padding-bottom: 1rem;
}

.explanation ul{
  margin-left: 3rem;
  padding-bottom: 1rem;
}

.explanation a{
  color: var(--primary-color);
  text-decoration: none;
}

.explanation a:hover{
  text-decoration: underline;
}

.greeting{
  text-align: center;
  padding: 2rem;
}

.greeting img{
  width: 10rem;
}

.greeting h1{
  font-weight: bold;
  color: var(--title-color);
  padding-top: 2rem;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  margin: 0 auto;
}

.about-text{
  text-align: justify;
  padding-bottom: 2rem;
}

.about-text p{
  padding-bottom: 1rem;
}

.about-text a{
  color: var(--primary-color);
  text-decoration: none;
}

.about-text a:hover{
  text-decoration: underline;
}

.privacy-policy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  margin: 0 auto;
}

.privacy-policy-text{
  text-align: justify;
}

@media screen and (max-width: 768px){
  .navigation-header{
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--primary-color);
    height: 100%;
    width: 35vw;
    padding: 1rem;
    animation-duration: .5s;
    margin-left: -100vw;
    text-align: center;
  }

  .btn-icon-header{
      display: block;
  }

  @keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
  }

  .title{
    font-size: 90%;
  }

  .explanation-container{
    width: 90%;
    margin: 0 auto;
  }

  .about{
    width: 90%;
    margin: 0 auto;
  }
}

