@font-face {
  font-family: 'lexend';
  src: url('/static/assets/fonts/Lexend-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #4CAF50;
  --secundary-color: #ffffff;
  --fill-color: #f2f2f2;
  --error-color: #b10000;
  --title-color: #111111;
  --subtitle-color: #555555;
  --text-body-color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--secundary-color);
  color: var(--text-body-color);
}

.img-logo-header {
  width: 2.5rem;
}

.header, .navigation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 0 10%;
  height: 3.5rem;
}

.navigation-header {
  gap: 3rem;
  z-index: 2;
}

.navigation-header a {
  text-decoration: none;
  color: var(--secundary-color);
  font-weight: bold;
}

.navigation-header a:hover {
  text-decoration: underline;
}

.content {
  text-align: center;
  height: 100vh;
  transition: 1s;
}

.btn-icon-header {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--secundary-color);
  cursor: pointer;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.title-container h1 {
  font-weight: bold;
  color: var(--title-color);
}

.title-container p {
  margin-top: 1rem;
  color: var(--subtitle-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.form-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--fill-color);
  padding: 0.5rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.form-container textarea {
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--fill-color);
  text-align: justify;
  width: 100%;
  height: 30rem;
  padding: 1rem;
  border:none;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  resize: none;
}

.form-container button[type="submit"] {
  font-family: 'lexend', Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:active {
  color: var(--subtitle-color);
  background-color: var(--fill-color);
}

.explanation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48rem;
  margin: 0 auto;
}

.analysis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 1rem 0 2rem 0;
}

.analysis h2 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.analysis p{
  margin-bottom: 1rem;
}

.analysis ul{
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#recommended-lands{
  text-align: center;
  background-color: var(--fill-color);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

#error-message {
  text-align: center;
  color: var(--error-color);
  margin: 1rem 0 2rem 0;
}

.about-formula-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 1rem 0 2rem 0;
}

.about-formula-container h2 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.about-formula-container p {
  margin-bottom: 1rem;
}

.about-formula-container ul {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.about-formula-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.about-formula-container a:hover {
  text-decoration: underline;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.greeting-container img {
  width: 10rem;
}

.greeting-container h1 {
  font-weight: bold;
  color: var(--title-color);
  margin-top: 2rem;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48rem;
  margin: 0 auto;
}

.about-us-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 1rem 0 2rem 0;
}

.about-us-text-container p {
  text-align: justify;
  margin-bottom: 1rem;
}

.about-us-text-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.about-us-text-container a:hover {
  text-decoration: underline;
}

.privacy-policy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 48rem;
  margin: 0 auto;
}

.privacy-policy-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 1rem 0 2rem 0;
}

.privacy-policy-text-container h2 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.privacy-policy-text-container h3 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.privacy-policy-text-container p {
  text-align: justify;
  margin-bottom: 1rem;
}

.privacy-policy-text-container ul {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.privacy-policy-text-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.privacy-policy-text-container a:hover {
  text-decoration: underline;
}

.terms-of-service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 48rem;
  margin: 0 auto;
}

.terms-of-service-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 1rem 0 2rem 0;
}

.terms-of-service-text-container h2 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.terms-of-service-text-container h3 {
  font-weight: bold;
  color: --subtitle-color;
  margin: 1rem 0 2rem 0;
}

.terms-of-service-text-container p {
  text-align: justify;
  margin-bottom: 1rem;
}

.terms-of-service-text-container ul {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.terms-of-service-text-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.terms-of-service-text-container a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1000px){
  .navigation-header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--primary-color);
    height: 100%;
    width: 35vw;
    padding: 1rem;
    animation-duration: .5s;
    margin-left: -100vw;
    text-align: center;
  }

  .btn-icon-header {
      display: block;
  }

  @keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
  }

  .title-container {
    font-size: 90%;
  }

  .form-container {
    margin: 0 1rem 2rem 1rem;
  }

  .explanation-container {
    width: 90%;
    margin: 0 auto;
  }

  .about-us-container {
    width: 90%;
    margin: 0 auto;
  }

  .privacy-policy-container {
    width: 90%;
    margin: 0 auto;
  }

  .terms-of-service-container {
    width: 90%;
    margin: 0 auto;
  }
}

