{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57WL7P97');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3278373928185322"
     crossorigin="anonymous"></script>
     <!-- End Google Adsense -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>How Many: MTG Calculator</title>
    <link rel="icon" href="{% static 'lands/assets/howmanymtg-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'lands/css/lands.css' %}">
</head>
<body id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57WL7P97"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include 'lands/partials/_header.html' %}
    {% block content %}{% endblock %}
</body>
<script src="{% static 'lands/js/decklist_form.js' %}"></script>
<script src="{% static 'lands/js/sidebar.js' %}"></script>
<script src="{% static 'lands/js/results_scroll.js' %}"></script>
</html>